h1 {
  font-family: Times, sans-serif; color:white;font-size: 36px; text-align: center;
}

body  {
    background-image: url("/static/images/background1.jpg"),url("/static/images/background2.jpg");background-size: 1300px * 700px, background-size: 1300px * 2800px; background-repeat: no-repeat; background-repeat: no-repeat;
    font-family: Ms serif, sans-serif; color:white; font-size: 20px; text-align: center;
}

div {
            width: 500px;
            height: 100px;
            margin: 50px auto;
            border: 1px solid transparent;
            line-height: 100px;
            text-align: center;
            overflow: hidden;
            font-size: 36px;
        }
a:link {
            color:white;
            text-decoration:none;
            }
            a:visited {
            color:white;
            text-decoration:none;
            }

nav ul {
  list-style: none;
  font-family: Arial, sans-serif; color:white;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
